* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    height: 100vh;
}

.nav {
    display: flex;
    justify-content: space-between;
    position: fixed; 
    width: 100%;
    padding-top: 1rem;
    z-index: 100; 
    background-color: #f6fcf7;
    opacity: 0.7;
}

.nav .nav-1 {
    padding-left: 6rem;   
    display: flex;
    align-items: center;
    list-style: none;
    gap: 2rem;  
}
   
  .nav  .nav-1 .paystack .paystack-logo {
      width: 10rem;
    }

.nav .nav-1 a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    font-size: 1.9rem;
    font-family: MyFont, Arial, Helvetica, sans-serif;   
}
.nav .nav-1 a:hover {
    color: blue;
}
  


.nav .nav-2 {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 2rem;
    padding-right: 6rem;

}
.nav .nav-2 a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    font-size: 1.9rem;
    font-family: MyFont, Arial, Helvetica, sans-serif;
}
.nav .nav-2 a:hover {
    color: blue;
}
.btn {
    padding: 1rem 2rem;
    border-radius: .5rem;
    border: none;
    background-color: #3bb75e;
    color: white;
    height: 3.8rem;
    width: 16rem;
    }
.one  {
    padding: 4rem 4rem;
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: left;
    background-color: #eaf6fc;
    color: #011B33;
}

.one section .forDev .for {
    font-size: 1.2rem;
    padding-bottom: 3rem;
}
.one section .forDev h2{
    font-size: 4rem;
    width: 45rem;
    padding-bottom: 2rem;
}
.one section .forDev .lit {
    font-size: 2rem;
    width: 47rem;
    padding-bottom: 2rem;
}
.btns {
    padding: 1rem 2rem;
    border-radius: .5rem;
    border: none;
    background-color: #3bb75e;
    color: white;
    height: 5rem;
    width: 20rem;
    }
    .build {
        display: flex;
        align-items: center;
        padding: 0rem 15rem;
        gap: 9rem;
        font-size: 2rem;
      }
      .build section {
        width: 45rem;
      }
      .build section article {
        padding-bottom: 3rem;
      }
      .build section h2 {
          font-size: 4rem;
          padding-bottom: 2rem;
          color: #011B33;
      }
      
      .build section ul {  
          display: flex;
          align-items: center;
          padding-bottom: .5rem;
          font-size: 1.6rem;
          width: 40rem;
          
      }
      .build section ul li {
          list-style: none;
      }
      .myTick {
          color: green;
          background-color: rgb(217, 248, 253);
          border: none;
          padding: .5rem 1rem;
          border-radius: .5rem;
          height: 3rem;
      }
      .robust-fig {
        padding-top: 9rem;
          height: 80rem;
      }
      .robust-fig .robust {
         padding-top: 11rem;
          height: 80%;
      }
      .build section .find-sec .find {
          
          color: #3BB75E;
          font-size: 1.7rem;
          margin-top: 5rem;
      }
      .build section .find-sec .enjoy-btn {
        border-radius: 100%;
        border: 1px solid #3BB75E;
        background-color: white;
        color: #3BB75E;
        width: 2rem;  
      }
      .five {
        background-color: #eaf6fc;
        padding: 14rem 14rem;
      }
      .five section {
        padding-bottom: 14rem;
      }
      .five section h2 {
        font-size: 4rem;
        color: #011B33;
        padding-bottom: 2rem;
      }
      .five section article {
        font-size: 2rem;
        width: 50rem;
        line-height: 3rem;
        font-weight: 100;
      }
      .app ul{
        display: flex;
        gap: 2.5rem;
        list-style: none;
        border-bottom: .4px solid grey;
        font-size: 1.2rem;
        padding-bottom: 2.5rem;
        font-weight: 700;
      }
     .five .app ul li:hover {
        color: blue;
      }
      .five main {
        display: flex;
        flex-wrap: wrap;
        gap: 1.5rem;
      }
      .five .resolve {
        border: 1px solid white;
        background-color: white;
        border-radius: 1rem;
        padding: 0rem 2rem;
        height: 25rem;
      }
      
      .five .resolve {
        border: 1px solid white;
        max-width: 33.3%;
        
      }
      .five .resolve h2 {
        padding-top: 2rem;
        font-size: 2.5rem;
        
      }
      .five .resolve article {
        width: 35rem;
      }
      .five .resolve .learn {
        display: flex;
        align-items: center;
        gap: 1rem;
        padding-top: 3rem;
      }
      .five .resolve .learn span {
        color: #0BA4DB;
        font-size: 1.5rem;
      }
      .blue-btn {  
        height: 2rem;
        width: 2rem;
        border: 1px solid #0BA4DB;
        border-radius: 100%;
        color: #0BA4DB;
      }
     .five .documentation {
        display: flex;
        gap: 1rem;
        padding-top: 2rem;
      }
      .five .documentation article {
        font-size: 1.6rem;
        font-weight: 550;
      }
      .five .documentation .doc-btn {
        width: 2rem;
        height: 2rem;
        border-radius: 100%;
        color: #3BB75E;
        background-color: white;
        border: 1px solid #3BB75E;
      }
      .delight {
        display: flex;
        align-items: center;
        gap: 9rem;
        padding: 12rem 16rem; 
    }
    .delight figure {
        max-width: 45%; 
    }
    .delight figure img {
        height: 62rem;
        width: 100%;
    }
    .delight section {
        display: flex;
        flex-direction: column;
        width: 40%;
    }
    .delight section h2 {
        font-size: 4rem;
        line-height: 3.5rem;
        padding-bottom: 1.5rem;
        color: #011B33;
    }
    .delight section span {
        line-height: 2.5rem;
        font-size: 2rem;
    }
    .delight section .payment-type ul {
        list-style: none; 
    }
    .delight section .payment-type ul li img {
        width: 2rem;
    }
     .delight .payment-type {
        padding-top: 2.5rem;
        display: flex;
        gap: 10rem;
    }
   .platform {
    padding: 15rem 15rem;
   }
   .platform  .platform-sec{
    width: 45rem;
  }
    .platform .platform-sec h2 {
    font-size: 5rem;
    color: #011B33;
    width: 65rem;
  }
  .platform .platform-sec article {
    padding-top: 2rem;
    font-size: 2rem;
    width: 60rem;
  }
  .websitePlatforms {
    padding-top: 8rem;
    display: flex;
    gap: 4rem;
  }
.websitePlatforms  figure {
    border: 1px solid #011B33;
    border-radius: 1rem;
    background-color: #011B33;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    height: 20rem;
}
.websitePlatforms figure img {
    width: 50%;
  
}
 .websitePlatforms figure:hover {
    color: white;
}

.platform .all-pluggins {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-top: 3rem;
}
.platform .all-pluggins span {
    color: #0BA4DB;
    font-size: 1.6rem;
}
.vid-sec {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60rem;
    padding: 1rem 12rem;
    padding-bottom: 3rem;
}
.vid-sec .vid {
    width: 100%;
    height: 100%;
}

.vid-sec section {
    width: 60rem;
height: 100%;
}
.vid-sec section .protect {
    display: flex;
    flex-direction: column;
    font-size: 4rem;
    color: #011B33;
    width: 55rem;
    line-height: 4rem;
    padding-top: 5rem;
}
.vid-sec section .protect span {
    font-size: 2rem;
    padding-top: 2rem;
    padding-bottom: 4rem;
    color: black;
    line-height: 2rem;
}
.verify-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6rem 12rem;
}
.verify-div .verify-fig {
    max-width: 60rem;
}
.verify-div .verify-fig img {
    width: 100%;
}
.verify-div section {
    width: 60rem;
}
.verify-div section h2 {
    font-size: 4rem;
    color: #011B33;
    padding-bottom: 2rem;
}
.verify-div section article {
    font-size: 2rem;
}
.verify-div section ul {
   
    align-items: center;
    margin-top: 2rem;
    font-size: 1.7rem;
    list-style: none;
}
.verify-btn {
    
    width: 3rem;
    height: 3rem;
    background-color: #f1fef4;
    border: none;
    color: green;
    border-radius: .5rem;
    padding-bottom: 2rem;
}

.modern-div {
    padding: 2rem 16rem;
    display: flex;
    justify-content: space-between;
    align-items: center
}
.modern-div .modernPayment {
    padding-top: 2rem;
    max-width: 80rem;
}
.modern-div .modernPayment h2 {
    font-size: 3.5rem;
    width: 100%;
    padding-bottom: 2.5rem ;
}
.modern-div .modernPayment article {
    font-size: 2rem;
    padding-bottom: 2rem;
}
.modern-div .modernPayment ul {
    padding-top: 1rem;
    font-size: 2rem;
    list-style: none;
    
}

.footer1 {
    display: flex;
    margin: 3rem 5rem;
    justify-content: space-evenly;
    padding-bottom: 3rem;
    border-bottom: .01rem solid rgba(218, 216, 216, 0.639);
    width: 140rem;
}

.footer1 h3{
    font-size: 2rem;
    margin-bottom: 1.2rem;
    margin-top: 3rem;
}
.footer1 ul{
    list-style-type: none;
    font-size: 16px;
}
.footer1 ul li{
    margin-bottom: 12px;
}
.footer1 ul li:hover{
    color: rgb(72, 156, 253);
    cursor: pointer;
    transition: ease-in-out 0.5s;
}
.footer2 {
    display: flex;
    margin: 3rem 5rem;
    justify-content: space-evenly;
    padding-bottom: 3rem;
    border-bottom: .01rem solid rgba(218, 216, 216, 0.639);
    width: 140rem;
}

.footer2 h3{
    font-size: 2rem;
    margin-bottom: 1.2rem;
    margin-top: 3rem;
}
.footer2 ul{
    list-style-type: none;
    font-size: 1.6rem;
}
.footer2 ul li{
    margin-bottom: 1.2rem;
}
.blue {
    cursor: pointer;
    color: #0BA4DB;
}
.footer2 ul li .social-fig {
    max-width: 16rem;
    display: flex;
    gap: 1rem;
}
.footer2 ul li .social-fig img {
width: 100%;
}
.footer2 ul  .stripe {
    width: 8rem;
}
.footer2 ul  .stripe img {
    width: 100%;
}
.footer2 ul .stripe-li {
    color: #011b335f
}
